# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*




 
4: "link-arrow"
5: "ukr-flag-img"
6: "ukr-help-text"
7: "ukr-help-link"
8: "link-arrow"
9: "hero-image-desktop"
10: "title"
11: "subtitle"
12: "hire-talent-btn"
13: "find-jobs-btn"
14: "logobar-title"
15: "microsoft-logo"
16: "airbnb-logo"
17: "godaddy-logo"
18: "bissell-logo"
19: "browse-talent-by-category"
20: "cat-tiles"
21: "cat-tile"
22: "cat-tile"
23: "service-mobile-0"
24: "service-mobile-1"
25: "service-mobile-2"
26: "service-mobile-3"
27: "service-mobile-4"
28: "service-mobile-5"
29: "service-mobile-6"
30: "service-mobile-7"
31: "service-mobile-8"
32: "service-mobile-9"
33: "service-mobile-10"
34: "service-mobile-11"
35: "service-mobile-12"
36: "cat-tile"
37: "cat-tile"
38: "service-mobile-0"
39: "service-mobile-1"
40: "service-mobile-2"
41: "service-mobile-3"
42: "service-mobile-4"
43: "service-mobile-5"
44: "service-mobile-6"
45: "service-mobile-7"
46: "service-mobile-8"
47: "service-mobile-9"
48: "service-mobile-10"
49: "service-mobile-11"
50: "service-mobile-12"
51: "cat-tile"
52: "cat-tile"
53: "service-mobile-0"
54: "service-mobile-1"
55: "service-mobile-2"
56: "service-mobile-3"
57: "service-mobile-4"
58: "service-mobile-5"
59: "service-mobile-6"
60: "service-mobile-7"
61: "service-mobile-8"
62: "service-mobile-9"
63: "service-mobile-10"
64: "service-mobile-11"
65: "service-mobile-12"
66: "cat-tile"
67: "cat-tile"
68: "service-mobile-0"
69: "service-mobile-1"
70: "service-mobile-2"
71: "service-mobile-3"
72: "service-mobile-4"
73: "service-mobile-5"
74: "service-mobile-6"
75: "service-mobile-7"
76: "service-mobile-8"
77: "service-mobile-9"
78: "service-mobile-10"
79: "service-mobile-11"
80: "service-mobile-12"
81: "cat-tile"
82: "cat-tile"
83: "service-mobile-0"
84: "service-mobile-1"
85: "service-mobile-2"
86: "service-mobile-3"
87: "service-mobile-4"
88: "service-mobile-5"
89: "service-mobile-6"
90: "service-mobile-7"
91: "service-mobile-8"
92: "service-mobile-9"
93: "service-mobile-10"
94: "service-mobile-11"
95: "service-mobile-12"
96: "headline"
97: "title"
98: "overview"
99: "delivery-model-card-post-job"
100: "card-link"
101: "model-title"
102: "model-name"
103: "arrow"
104: "delivery-model-card"
105: "card-link"
106: "model-title"
107: "model-name"
108: "arrow"
109: "delivery-model-card"
110: "card-link"
111: "model-title"
112: "model-name"
113: "arrow"
114: "why-title"
115: "proof-points"
116: "point-heading"
117: "point-description"
118: "point-heading"
119: "point-description"
120: "point-heading"
121: "point-description"
122: "awards-rating"
123: "award-title"
124: "rating"
125: "icon"
126: "title"
127: "desc"
128: "award-winner"
129: "icon"
130: "title"
131: "desc"
132: "reaching-person-img"
133: "why-upwork-talent-signup"
134: "signup-title"
135: "find-talent-btn"
136: "image"
137: "image"
138: "headline"
139: "title"
140: "subtitle"
141: "overview-0"
142: "overview-1"
143: "overview-2"
144: "find-opportunities-btn"
145: "carousel-items-container"
146: "carousel-items"
147: "carousel-items"
148: "carousel-items"
149: "carousel-items"
150: "carousel-items"
151: "skills-list-titles-mobile"
152: "skills-list-titles"
153: "skill-list"
154: "skill-link"
155: "skill-link"
156: "skill-link"
157: "skill-link"
158: "skill-link"
159: "skill-link"
160: "skill-link"
161: "skill-link"
162: "skill-link"
163: "skill-link"
164: "skill-link"
165: "skill-link"
166: "skill-link"
167: "skill-link"
168: "skill-link"
169: "skill-link"
170: "skill-link"
171: "skill-link"
172: "skill-link"
173: "skill-link"
174: "skill-link"
175: "skill-link"
176: "skill-link"
177: "skill-link"
178: "skill-link"
179: "skill-link"
180: "skill-link"
181: "skill-link"
182: "skill-link"
183: "skill-link"
184: "skill-link"
185: "skill-link"
186: "skill-link"
187: "skill-link"
188: "skill-link"
189: "skill-link"
190: "skill-link"
191: "skill-link"
192: "skill-link"
193: "skill-link"
194: "skill-link"
195: "skill-link"
196: "skill-link"
197: "skill-link"
198: "skill-link"
199: "skill-link"
200: "skill-link"
201: "skill-link"
202: "skill-link"
203: "skill-link"
204: "skill-link"
205: "skill-link"
206: "skill-link"
207: "skill-link"
208: "skill-link"
209: "skill-link"
210: "skill-link"
211: "skill-link"
212: "skill-link"
213: "skill-link"
214: "skill-link"
215: "skill-link"
216: "skill-link"
217: "skill-link"
218: "skill-link"
219: "skill-link"
220: "skill-link"
221: "skill-link"
222: "skill-link"
223: "skill-link"
224: "skill-link"
225: "skill-link"
226: "skill-link"
227: "skill-link"
228: "skill-link"
229: "skill-link"
230: "skill-link"
231: "skill-link"
232: "skill-link"
233: "skill-link"
234: "skill-link"
235: "skill-link"
236: "skill-link"
237: "skill-link"
238: "skill-link"
239: "skill-link"
240: "skill-link"
241: "skill-link"
242: "skill-link"
243: "skill-link"
244: "skill-link"
245: "skill-link"
246: "skill-link"
247: "skill-link"
248: "skill-link"
249: "skill-link"
250: "skill-link"
251: "skill-link"
252: "skill-link"
253: "skill-link"
254: "skill-link"
255: "skill-link"
256: "skill-link"
257: "skill-link"
258: "skill-link"
259: "skill-link"
260: "skill-link"
261: "skill-link"
262: "skill-link"
263: "skill-link"
264: "skill-link"
265: "skill-link"
266: "skill-link"
267: "skill-link"
268: "skill-link"
269: "skill-link"
270: "skill-link"
271: "skill-link"
272: "skill-link"
273: "skill-link"
274: "skill-link"
275: "skill-link"
276: "skill-link"
277: "skill-link"
278: "skill-link"
279: "skill-link"
280: "skill-link"
281: "skill-link"
282: "skill-link"
283: "skill-link"
284: "skill-link"
285: "skill-link"
286: "skill-link"
287: "skill-link"
288: "skill-link"
289: "skill-link"